body {
	color: #30343d;
	background: #f16fa3;
	font-size: 1em;
	font-family: "Helvetica Neue", Grotesk, Helvetica, sans-serif;
	font-stretch: condensed;
	margin: 0;
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	text-transform: uppercase;
	font-size: 20vw;
	font-weight: 900;
	margin: 0;
	transform: rotate(60deg);
}
