#section-1-12 {

	@include sans-face;

	h2 {
		@include boxed-numeral;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.5;
		text-indent: 0;
	}

	.container {
		> p:first-of-type {
			font-size: 3.5rem;
			text-transform: uppercase;
			text-align: center;
		}

		> p:nth-of-type(3) {
			text-indent: -150%;
			margin-left: 60%;

			> b:first-child{
				font-size: 2rem;
			}
		}

		> p:nth-of-type(4) {
			font-size: 3rem;
			text-transform: uppercase;
			text-align: center;
		}

		> p:nth-of-type(5) {
			font-size: 2rem;
			text-transform: uppercase;
			text-align: center;
		}

		> ul {
			margin: .25em 0 .25em 45%;
			border-left: .25em solid;
			padding: 0 0 0 1em;
			list-style: none;

			p {
				margin: 0 0 0 1em;
				text-indent: -1em;

				> b {
					font-size: 3rem;
				}
			}
		}

		> p:last-child {
			margin-left: 15%;
			margin-right: 15%;

			> b {
				font-size: 2rem;
			}
		}
	}

}
