#section-1-5 {

	h3 {
		font-size: 1em;
		font-weight: normal;
		margin: 0 0 .25em;
	}

	ol {
		list-style-type: none;
		margin: 0 0 1em 4em;
		padding: 0;
	}

	p {
		display: flex;
		margin: 0;
		text-indent: 0;
	}

	span {
		margin-left: auto;
	}

}
