#section-1-10 {

	@include sans-face;

	h2 {
		@include boxed-numeral;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.125;
		text-indent: 0;

		> strong {
			font-size: 2.5rem;
		}

		> b {
			font-size: 2rem;
		}
	}

	.container {
		> p:nth-child(2) {
			font-size: 2.5rem;
			text-transform: uppercase;
			text-align: center;

			> strong {
				display: block;
				font-size: 3.5rem;
			}
		}

		> ul {
			display: flex;
			flex-direction: column;
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-transform: uppercase;

			> li > p {
				padding-left: 3em;
				text-indent: -1em;
				font-size: 2.5rem;
				text-align: left;
				margin: 0;

				span {
					font-size: 1.5rem;
					text-transform: none;
				}
			}

			> :first-child > p {
				font-size: 3.5rem;
				padding-left: 0;
				text-indent: 0;
				text-align: center;
				word-spacing: .75em;
			}

			ul {
				margin: .25em 0 .25em 65%;
				border-left: .25em solid;
				padding: 0;
				list-style: none;

				p {
					text-align: center;
					margin: 0;
				}
			}
		}

		> div {
			display: flex;
			justify-content: space-between;

			> ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				text-align: center;
				max-width: 50%;

				p {
					margin: 0;

					b {
						font-size: 2rem;
						display: block;
					}

					> span {
						display: block;
						text-align: left;

						> b {
							display: inline;
						}
					}
				}
			}
		}
	}

}
