#section-1-11 {

	@include sans-face;

	h2::first-letter {
		border: .125em solid;
		padding: .25em .5em;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.125;
		text-indent: 0;
		text-transform: uppercase;

		> strong {
			font-size: 2.5rem;
			vertical-align: text-top;
		}
	}

	ul {
		list-style-type: none;
		margin: 0 0 2em;
		padding: 0;
	}

	.container {
		> p {
			margin-left: calc(50% - 2em);
		}

		> ul:last-of-type {
			float: right;
		}
	}

}
