#section-1-2 {

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: -moz-fit-content;
		width: fit-content;
		margin: auto;
		text-align: center;
	}

	p {
		text-indent: 0;
	}

	address {
		font-style: normal;
		text-align: left;
	}

	address:first-of-type > p::first-line {
		text-transform: uppercase;
	}

	footer {
		margin-top: 8em;
	}

}
